body {
    box-sizing: border-box;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

/****** central container ******/

.container {
    margin: auto;
    width: 100%;
    background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
    opacity: .9;
}

/****** combine elements ******/

.flexbox {
    display: flex;
}

.borders {
    border-radius: 3px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.center {
    text-align: center;
}

.city,
.weather, 
.today, 
.five-days {
    justify-content: space-between;
}

.caption, 
.degrees {
    font-size: 2em;
}

.weather, 
.clock, 
.today, 
.today-p {
    align-items: center;
}

.caption, 
.city {
    padding: 5px 20px;
}

/****** dropdown menu ******/

.dropdown {
    position: relative;
    margin: auto;
    font-size: 1.3em;
}

.dropdown-menu {
    margin-bottom: 0;
    padding: 0 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    z-index: 1;
    background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
}

.dropdown, 
.dropdown-content {
    width: 210px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.city {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.19, -0.46, .76, 1.43);
    transition-property: background-color, transform, border-radius;
}

.city:hover {
    background-color: #008CBA;
    border-radius: 3px;
    transform: scale(1.3);
}

/****** weather container ******/

.weather {
    padding: 20px 30px;
}

.day, 
.date {
    font-size: 1em;
    margin: 3px;
}

.exact-time {
    padding-left: 5px;
}

.current-city {
    font-size: 1.3em;
}

.degrees, 
.condition {
    margin: 0;
}

.day, 
.date, 
.condition {
    padding: 0;
}

/****** today report ******/

.today {
    padding: 20px 30px;
}

.today-p {
    padding: 7px 0;
}

.today-p span {
    padding: 10px;
}

/****** 5-days report ******/

.five-days img {
    width: 40px;
}

.five-days-p {
    width: 18%;
}

/****** report slider ******/

.report {
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1.2em;
}

.daily, 
.weekly {
    justify-content: center;
    position: relative;
    width: 50%;
}

.weekly {
    margin-left: 10px;
}

.daily {
    margin-right: 10px;
}

.text-today, 
.text-weekly {
    position: absolute;
    bottom: 0;
    background-color: #008CBA;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease-out;
}

.daily:hover .text-today, 
.weekly:hover .text-weekly {
    height: 100%;
}

.text {
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

/****** footer ******/

footer {
    line-height: 2.5em;
}

footer a {
    text-decoration: none;
}

.weather, 
.today, 
.five-days, 
.report, 
footer {
    margin: 10px 20px;
}

/****** devices larger than 450px ******/

@media (min-width: 450px) {
    .container {
        width: 450px;
    }
    
    .weather, .today {
        font-size: 1.2em;
    }
    .degrees {
        font-size: 3em;
    }
    .current-city {
        font-size: 1.5em;
    }
}
