:root {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/****** central container ******/

.container {
    margin: auto;
    width: 100%;
    opacity: .9;
}

/****** combine elements ******/

.container,
.dropdown-content,
.modal-content {
    background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
}

.flexbox {
    display: flex;
}

.borders {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.borders, 
.text-today, 
.text-weekly, 
.city:hover, 
.report {
    border-radius: 3px;
}

.center {
    text-align: center;
}

.city, 
.weather, 
.today, 
.five-days {
    justify-content: space-between;
}

.title,
.caption span, 
.degrees {
    font-size: 2rem;
}

.weather, 
.clock, 
.today, 
.today-p {
    align-items: center;
}

.caption, 
.city {
    padding: 5px 20px;
}

.weather, 
.today, 
.report, 
footer {
    margin: 10px 20px;
}

.weather, 
.today {
    padding: 20px 30px;
}

.current-city,
.dropdown,
.five-days,
.close {
    font-size: 1.3rem;
}

/***** caption ******/
.title {
    margin-bottom: 0;
}

/****** dropdown menu ******/

.dropdown {
    position: relative;
    margin: 10px auto;
}

.dropdown-menu {
    margin-bottom: 0;
    padding: 0 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    z-index: 1;
}

.dropdown, 
.dropdown-content {
    width: 210px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.city {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.19, -0.46, .76, 1.43);
    transition-property: background-color, transform, border-radius;
}

.city:hover {
    background-color: #008CBA;
    transform: scale(1.1);
}

/****** weather container ******/

.day, 
.date {
    margin: 3px;
}

.exact-time {
    padding-left: 5px;
}

.degrees, 
.condition {
    margin: 0;
}

.day, 
.date, 
.condition {
    padding: 0;
}

/****** today report ******/

.today-p {
    padding: 7px 0;
}

.today-p span {
    padding: 10px;
}

/****** 5-days report ******/

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    position: relative;
    top: 40px;
    margin: auto;
    padding: 0;
    width: 100%;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    color: darkmagenta;
    font-weight: bold;
}

.close:hover, 
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.five-days {
    padding: 30px;
}

.five-days img {
    width: 40px;
}

.five-days-p {
    width: 18%;
    margin: auto;
}

/****** report slider ******/

.report {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.daily, 
.weekly {
    justify-content: center;
    position: relative;
    width: 50%;
}

.weekly {
    margin-left: 10px;
}

.daily {
    margin-right: 10px;
}

.text-today, 
.text-weekly {
    position: absolute;
    bottom: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease-out;
}

.daily:hover .text-today, 
.weekly:hover .text-weekly {
    height: 100%;
}

.text {
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

/****** footer ******/

footer {
    line-height: 2.5rem;
}

footer a {
    text-decoration: none;
}

/****** media queries ******/

@media (min-width: 450px) {
    .container {
        width: 450px;
    }
    .weather, .today {
        font-size: 1.2rem;
    }
    .degrees {
        font-size: 4rem;
    }
    .current-city, 
    .five-days,
    .close {
        font-size: 1.8rem;
    }
    .five-days img {
        width: 80%;
    }
    .modal-content {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .modal-content{
        width: 80%;
    }
}

@media (min-width: 1224px) {
    .modal-content{
        width: 50%;
    }
}